.userLogo {
      font-size: 1.5rem;
}

.avatarLogoContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #f3efef;
}
.bordo {
      background-color: #800c05;
      background-image: url("../../assets/fondo\ banner.png");
      background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
      background-position: center; /* Centra la imagen en el fondo */
}
.colorText {
      color: #800c05;
}
